# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Backup files:
*_bak
*.bak
*_old
*.old

# Compressed files:
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Secret keys:
*secret*
*.tfvars
admin_password
success_deploy.json
github_resource_permissions.json

# Dummy emails:
dummy_emails/

# Connect files:
*connect*
transfer_wp-config_to_aws.sh
transfer_config_to_s3.sh
transfer_plugin.sh

# Config files
wp-config.local.php
wp-config.php
config.sh
wolfskill_config.sh
configure_wp_secrets.sh
configure_db.sh
configure_tables.sh

# Misc
wp_salts
create_superuser
deploy_via_boto.py
#.htaccess


#Cloudformation Template
.template
