*.com
*.class
*.dll
*.exe
*.o
*.so
*.mp4
*.fla
*.f4v
*.m3u8
*.py_bak
*.py~
*.pyc
*.html_bak
*.html~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
connect.sh
gitflow
gitflow-installer.sh
