.no_shadow, .no_bevel {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.hidden { display: none; }
.reset {
  padding: 0;
  margin: 0;
}
.paint { background: silver; }
.preset_gradient {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
}
.grey_gradient {
  background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
}
.dark_gradient {
  background: -moz-linear-gradient(top, #767676, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#282828));
}
.bottom_shadow {
  box-shadow: 0 2px 4px #bebebe;
  -moz-box-shadow: 0 2px 4px #bebebe;
  -webkit-box-shadow: 0 2px 4px #bebebe;
  position: relative;
}
body, form, table, p, ul, ol, dl, dd, dt, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
nav, header, footer, section, aside, hgroup {
  display: block;
  zoom: 1;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#ffffff), to(#e9e9e9));
  background-image: -moz-linear-gradient(top, #ffffff, #e9e9e9);
  background-repeat: repeat-x;
  background-color: #e9e9e9;
  min-height: 1000px;
}
h1 {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 1;
  text-shadow: black 1px 1px 0px;
}
a img { border-width: 0; }
.padded { padding: 20px; }
.left { float: left; }
.right { float: right; }
.bottomborderless { border-bottom: 0px; }
a.green { color: #89ba47; }
a.green:active { color: #89ba47; }
a.green:visited { color: #89ba47; }
.button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
}
.button.green {
  background: -moz-linear-gradient(top, #b3d962, #7f9c44);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b3d962), to(#7f9c44));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border-left: solid #83ae3b 1px;
  border-top: solid #83ae3b 1px;
  border-bottom: 1px solid #597626;
  border-right: solid #597626 1px;
  color: #ffffff;
  text-shadow: #738f1d 1px 1px 0px;
}
.button.red {
  background: -moz-linear-gradient(top, #dd464b, #a12f33);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd464b), to(#a12f33));
  color: #ffffff;
  text-shadow: #738f1d 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #f8d1d1;
  -moz-box-shadow: inset 1px 1px 1px #f8d1d1;
  -webkit-box-shadow: inset 1px 1px 1px #f8d1d1;
  border-color: #b7131e;
}
.button.red:active {
  background: -moz-linear-gradient(top, #a12f33, #dd464b);
  background: -webkit-gradient(linear, left top, left bottom, from(#a12f33), to(#dd464b));
}
.button.grey {
  background: -moz-linear-gradient(top, #f3f3f3, #d1d1d1);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#f3f3f3), to(#d1d1d1));
  border: solid #a3a3a3 1px;
}
.button_hover {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
.rounded_left {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
.rounded_right {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
.button.green:active {
  background: #acd05f;
  color: white;
  box-shadow: inset 1px 1px 1px #acd05f;
  -moz-box-shadow: inset 1px 1px 1px #acd05f;
  -webkit-box-shadow: inset 1px 1px 1px #acd05f;
}
.button:active {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
.alt_button {
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: #dadada;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #595959;
  text-shadow: 1px 1px 1px #ffffff;
  text-decoration: none;
  font-size: 10px;
  line-height: 2.4;
  padding: 0 10px;
  border: solid #ababab 1px;
  background: -moz-linear-gradient(top, #f3f3f3, #b0b0b0);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#f3f3f3), to(#b0b0b0));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.alt_button:active {
  background: -moz-linear-gradient(top, #b0b0b0, #f3f3f3);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b0b0b0), to(#f3f3f3));
  color: #595959;
}
.alt_button:visited { color: #595959; }
.crud_button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
}
.crud_button.ondark {
  -webkit-box-shadow: none;
  border: none;
}
.crud_button:active {
  background: -moz-linear-gradient(top, #282828, #727272);
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#727272));
  color: white;
}
.crud_button:visited { color: white; }
.crud_button.red {
  box-shadow: inset 1px 1px 1px #f8d1d1;
  -moz-box-shadow: inset 1px 1px 1px #f8d1d1;
  -webkit-box-shadow: inset 1px 1px 1px #f8d1d1;
  background: -moz-linear-gradient(top, #dd464b, #a12f33);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd464b), to(#a12f33));
  border-color: #b7131e;
  text-shadow: 1px 1px 1px #892e26;
}
.crud_button.red:active {
  background: -moz-linear-gradient(top, #a12f33, #dd464b);
  background: -webkit-gradient(linear, left top, left bottom, from(#a12f33), to(#dd464b));
}
.funny_font {
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
}
.funny_font a { color: #7f9c44; }
ul.nav { list-style-type: none; }
ul.nav li { float: left; }
ul.nav a { display: inline-block; }
#wrapper {
  width: 797px;
  margin: 0 auto;
}
#box {
  color: white;
  background-color: #595959;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px #999999;
  -moz-box-shadow: 3px 3px 3px #999999;
  -webkit-box-shadow: 3px 3px 3px #999999;
}
body.narrow { background-image: url(/images/login_bg.jpg) center 150px no-repeat; }
.rounded_header {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: solid #464646 1px;
}
.box {
  width: 358px;
  margin: 170px auto 0 auto;
  background: #595959;
  overflow: hidden;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.box > header {
  color: #547422;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: solid #464646 1px;
}
.box > header h1 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  text-shadow: #c7d89f 1px 1px 0px;
  line-height: 2.6;
}
#header {
  display: block;
  margin-bottom: 5px;
}
#header .logo { float: left; }
#header .nav { float: left; }
#header .logo {
  margin-top: 14px;
  width: 107px;
  height: 48px;
}
#header .nav.public_nav { float: right; }
#header .app_nav {
  margin-top: 19px;
  margin-left: 16px;
}
#header .app_nav a.nav_button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  padding: 5px 10px 6px 10px;
  font-weight: normal;
}
#header .app_nav a.nav_button:active {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
#header .app_nav a.nav_button:first-child {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
#header .app_nav a.nav_button:last-child {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
.nav_button.choose_cloud span {
  background: transparent url(/images/arrow_down.png) no-repeat right;
  padding-right: 16px;
}
li.selected .nav_button.choose_cloud span {
  background: transparent no-repeat right;
  padding-right: 16px;
}
#header li { position: relative; }
#header li ul {
  min-width: 120px;
  list-style-type: none;
  position: absolute;
  top: 29px;
  left: 0px;
  z-index: 20;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  background: -moz-linear-gradient(top, #ebebeb, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e7e7e7));
}
#header li ul li a {
  background: -moz-linear-gradient(top, #ebebeb, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e7e7e7));
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid white;
  display: block;
  height: 24px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 4px 10px;
  font-size: 0.8em;
  border-width: 1px 0 1px 0;
  text-shadow: white 1px 1px 0px;
  color: #606060;
  text-decoration: none;
  font-size: 1.2em;
  width: 200px;
}
#header li ul li:last-child a {
  border-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}
#header li.pulldown ul { display: none; }
#header li.pulldown.selected ul { display: block; }
#header li.pulldown.selected a.nav_button {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
}
#header li.pulldown.selected a.nav_button { width: 200px; }
#header li.pulldown.selected a.nav_button:first-child {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
#header .public_nav { margin-top: 42px; }
#header .public_nav li { margin-right: 12px; }
#header .public_nav li:last-child { margin-right: 0; }
#header .public_nav a {
  color: #b6b6b6;
  text-decoration: none;
}
#header .public_nav a:hover { text-decoration: underline; }
#nav {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  position: relative;
  text-align: center;
  padding-top: 6px;
  height: 32px;
  overflow: hidden;
  border-bottom: 1px solid #3b4f15;
}
#nav h1 {
  color: #ffffff;
  text-shadow: #333333 1px 1px 0px;
  font-size: 15px;
  padding: 5px 10px 6px 10px;
  line-height: 1;
}
#nav a {
  color: #6a6a6a;
  text-decoration: none;
  text-shadow: white 1px 1px 0px;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px 6px 10px;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
}
#nav a.current {
  background: #afafaf;
  color: #ffffff;
  text-shadow: #333333 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #848484;
  -moz-box-shadow: inset 1px 1px 1px #848484;
  -webkit-box-shadow: inset 1px 1px 1px #848484;
}
#nav.bottom_shadow {
  box-shadow: 0 4px 4px #505050;
  -moz-box-shadow: 0 4px 4px #505050;
  -webkit-box-shadow: 0 4px 4px #505050;
}
.no-cssgradients #nav { background: #9ec03e; }
.no-cssgradients #footer { background: #9ec03e; }
#main > header {
  padding: 16px;
  padding-bottom: 14px;
  background: -moz-linear-gradient(top, #767676, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#282828));
}
.header_list { font-size: 11px; }
.header_list dt { float: left; }
.hheader_list dd { float: left; }
.header_list dt { margin-right: 3px; }
h2.blank-state {
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: #282828 0px 1px 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 600px;
}
h3.blank-state {
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  text-shadow: #282828 0px 1px 1px;
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-top: 25px;
}
h2.blank-state a { color: #7f9c44; }
h3.blank-state a { color: #7f9c44; }
#footer {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  min-height: 34px;
  line-height: 2;
  text-align: center;
  font-size: 11px;
  line-height: 35px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
#footer a {
  color: #ffffff;
  text-decoration: none;
}
#footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#footer a:hover { text-decoration: underline; }
.flash-message {
  text-align: center;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 5px #505050;
  -moz-box-shadow: 1px 1px 5px #505050;
  -webkit-box-shadow: 1px 1px 5px #505050;
  border-bottom: 1px solid #3b4f15;
  padding: 6px 3px;
  font-size: 12px;
}
.flash-message.absolute {
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.flash-message.error {
  border-color: #9e0101;
  color: white;
  background: -moz-linear-gradient(top, #ff4548, #d91818);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4548), to(#d91818));
}
.flash-message.success {
  border-color: #749829;
  color: white;
  background: -moz-linear-gradient(top, #97c836, #80a72d);
  background: -webkit-gradient(linear, left top, left bottom, from(#97c836), to(#80a72d));
  text-shadow: #8c8c8c 1px 1px 0px;
}
#sandbox_warning {
  font-size: 0.9em;
  width: 100%;
  color: #adadad;
  text-align: center;
  border-bottom: 1px solid #3e3e3e;
}
#sandbox_warning .note {
  background: -moz-linear-gradient(top, #494949, #252525);
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#252525));
  height: 18px;
  width: 100%;
  padding: 2px 0px 2px 0px;
  color: #d5d5d5;
}
#sandbox_warning .note span { font-weight: bold; }
#sandbox_warning .bar {
  background: url('/images/sandbox_bar.png') repeat;
  height: 5px;
}
#sandbox_warning a {
  color: #e9c543;
  font-weight: bold;
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
input[type=text], input[type=password] {
  border: 1px solid #464646;
  -moz-box-shadow: inset 0 0 2px #272727;
  -webkit-box-shadow: inset 0px 0px 2px #272727;
  box-shadow: inset 0 0 2px #272727;
}
.confirm-dialog {
  background-color: #eeeeee;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  box-shadow: 2px 2px 5px #3c3c3c;
  -moz-box-shadow: 2px 2px 5px #3c3c3c;
  -webkit-box-shadow: 2px 2px 5px #3c3c3c;
  border: 1px solid #2f2f2f;
  text-align: center;
}
.confirm-dialog .inner { margin: 16px; }
.confirm-dialog .dialog-note {
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
  color: #444444;
}
.confirm-dialog .dialog-buttons li {
  float: left;
  list-style-type: none;
  margin-left: 19px;
}
.confirm-dialog .dialog-buttons .button {
  width: 61px;
  height: 19px;
  font-size: 18px;
  padding: 9px;
  margin: 0px;
  text-align: center;
}
.dialog-arrow {
  border-color: transparent transparent transparent transparent;
  position: absolute;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
}
.dialog-arrow.left { border-color: transparent transparent transparent #eeeeee; }
.dialog-arrow.bottom { border-color: transparent transparent #eeeeee transparent; }
.dialog-arrow.top { border-color: #eeeeee transparent transparent transparent; }
#nav, #footer {
  background: -moz-linear-gradient(top, #b3d948, #8aa835);
  background: -webkit-gradient(linear, left top, left bottom, from(#b3d948), to(#8aa835));
}
.box > header {
  background: -moz-linear-gradient(top, #b3d948, #8aa835);
  background: -webkit-gradient(linear, left top, left bottom, from(#b3d948), to(#8aa835));
}
#nav a {
  color: #567401;
  text-shadow: #cddd9e 1px 1px 0px;
}
#nav a.current {
  background: #98bd32;
  text-shadow: #738f1d 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #758c36;
  -moz-box-shadow: inset 1px 1px 1px #758c36;
  -webkit-box-shadow: inset 1px 1px 1px #758c36;
}
.crud_button.green {
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  background: -moz-linear-gradient(top, #bbdd71, #7c9c3d);
  background: -webkit-gradient(linear, left top, left bottom, from(#bbdd71), to(#7c9c3d));
  text-shadow: #737373 1px 1px 0px;
  border: solid #8fb648 1px;
}
.crud_button.green:visited { color: #ffffff; }
.crud_button.green:active {
  color: #ffffff;
  background: -moz-linear-gradient(top, #7c9c3d, #bbdd71);
  background: -webkit-gradient(linear, left top, left bottom, from(#7c9c3d), to(#bbdd71));
}
.crud_button.selected {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  color: #8a8a8a;
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e0e0e0, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eeeeee));
  box-shadow: inset 1px 1px 1px #b1b1b1;
  -moz-box-shadow: inset 1px 1px 1px #b1b1b1;
  -webkit-box-shadow: inset 1px 1px 1px #b1b1b1;
  text-shadow: #ffffff 1px 1px 0px;
  border: 1px solid #cdcdcd;
}
.crud_button.selected:active {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  color: #8a8a8a;
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e0e0e0, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eeeeee));
  box-shadow: inset 1px 1px 1px #b1b1b1;
  -moz-box-shadow: inset 1px 1px 1px #b1b1b1;
  -webkit-box-shadow: inset 1px 1px 1px #b1b1b1;
  text-shadow: #ffffff 1px 1px 0px;
  border: 1px solid #cdcdcd;
}
.crud_button.create span {
  background: transparent url(/images/plus.png) no-repeat;
  padding-left: 16px;
}
.crud_button.add span {
  background: transparent url(/images/plus.png) no-repeat;
  padding-left: 16px;
}
.crud_button.upload span {
  background: transparent url(/images/arrow_up.png) no-repeat;
  padding-left: 16px;
}
.crud_button .login {
  background: transparent url(/images/arrow_right.png) no-repeat;
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-left: 16px;
  color: #ffffff;
  text-shadow: #737373 1px 1px 0px;
}
.data_row > header {
  padding: 6px 8px 8px 8px;
  font-size: 11px;
  color: #323232;
  border: solid #c9c9c9 1px;
  border-color: #c9c9c9 white #464646 #c9c9c9;
  border-right-width: 0;
  background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
}
.no-cssgradients .data_row header { background: #ebebeb; }
.data_row header.bottom_shadow { border-bottom-color: #b6b6b6; }
.data_row hgroup { float: left; }
.data_row hgroup h3 {
  font-size: 14px;
  line-height: 1.4;
}
.data_row hgroup h4 {
  color: #8e8e8e;
  font-weight: normal;
}
.data_row aside { float: right; }
.data_row section { border-top: solid #7a7a7a 1px; }
.data_row section.light {
  background: white;
  border: solid #c9c9c9 1px;
  border-width: 0 1px;
}
.data_row section.white { background: white; }
.data_row section .content {
  float: left;
  margin: 0;
}
.data_row header aside select { margin-top: 8px; }
.data_row header aside .crud_button { margin-top: 5px; }
.data_point {
  text-align: center;
  text-shadow: white 1px 1px 0px;
  color: #878787;
  background: #ececec;
  font-size: 13px;
  padding-top: 16px;
  border-left: 1px solid #949494;
}
.data_point div.encoding-count {
  font-size: 36px;
  padding-bottom: 6px;
}
.data_point div.encoding-label { font-size: 13px; }
.data_row section .data_point {
  width: 96px;
  height: 84px;
  float: right;
}
ul.gallery { list-style-type: none; }
ul.gallery li { float: left; }
ul.gallery.small li { margin: 0 15px 0 0; }
ul.gallery.small li:last-child { margin-right: 0; }
ul.gallery.large li { margin: 15px 0px 0 25px; }
.data_thumb {
  box-shadow: 2px 2px 5px #222222;
  -moz-box-shadow: 2px 2px 5px #222222;
  -webkit-box-shadow: 2px 2px 5px #222222;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  width: 113px;
  height: 122px;
  background: #d1d1d1;
}
.data_thumb.cloud { margin-bottom: 20px; }
.data_thumb.cloud .row {
  border-bottom: 1px solid #949494;
  padding: 7px 7px 7px 7px;
  background: -moz-linear-gradient(top, #efefef, #e3e3e3);
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e3e3e3));
}
.data_thumb.cloud .row:first-child {
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}
.data_thumb.cloud .row.title {
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}
.data_thumb.cloud .row:last-child {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.data_thumb.cloud .row.mini-graph {
  padding: 0px;
  margin: 0px;
}
.data_thumb .graph {
  background: url(/images/data_thumb/graph_bg.gif);
  border-width: 1px 0;
  height: 9px;
}
.data_thumb .graph img {
  margin: 0;
  border-width: 0;
  width: 50px;
  height: 9px;
  position: relative;
  top: -1px;
}
.data_thumb a {
  text-decoration: none;
  display: block;
}
.data_thumb .title {
  padding: 4px;
  text-align: center;
  text-shadow: white 1px 1px 0px;
}
.data_thumb.cloud {
  width: 230px;
  height: auto;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  border: 1px solid #6a6a6a;
}
.data_thumb.cloud:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(179, 217, 72, 0.5);
  -moz-box-shadow: 0 0 7px rgba(179, 217, 72, 0.5);
  box-shadow: 0 0 7px rgba(179, 217, 72, 0.5);
}
.data_thumb.cloud .title {
  font-size: 1.2em;
  border-top: 0px;
  background: -moz-linear-gradient(top, #efefef, #c9c9c9);
  background: -webkit-gradient(linear, 0% 20%, 0% 80%, from(#efefef), to(#c9c9c9));
  text-align: left;
  font-weight: bold;
}
.data_thumb.cloud .bucket { font-size: 0.8em; }
.data_thumb.cloud .number {
  font-size: 1.4em;
  margin-top: -4px;
}
.data_thumb.cloud .row.borderless { border-bottom: 0px; }
.data_thumb a {
  color: #606060;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
}
fieldset {
  padding: 0px;
  margin: 0px;
}
fieldset .row {
  font-size: 13px;
  margin: 0 15px 10px 15px;
}
fieldset .row input {
  padding: 3px;
  width: 178px;
}
fieldset .row .note {
  color: #ffffff;
  text-shadow: -1px -1px 1px #333333;
  font-size: 11px;
}
fieldset .row .note a { color: #ffffff; }
fieldset .row label {
  color: #ffffff;
  text-shadow: -1px -1px 1px #000000;
}
fieldset .row .field_with_errors { display: inline-block; }
fieldset .row.columns label { float: left; }
fieldset .row.columns .fields { float: left; }
fieldset .row.columns label { line-height: 2; }
fieldset .row.columns .field_with_errors { float: left; }
fieldset .row.short label { width: 115px; }
fieldset .row.long label { width: 150px; }
fieldset .errorExplanation {
  padding: 0 10px 10px 10px;
  font-size: 13px;
}
fieldset .errorExplanation h2 { display: none; }
fieldset .errorExplanation ul { margin-left: 1.5em; }
fieldset.borderless {
  border: none;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #464646;
  padding-top: 10px;
}
fieldset.borderless legend { display: none; }
fieldset.bordernone {
  border: none;
  padding-top: 10px;
}
fieldset.bordernone legend { display: none; }
fieldset.light .row label {
  color: #333333;
  text-shadow: 1px 1px 1px #eeeeee;
}
fieldset.dark {
  color: #727272;
  text-shadow: 1px 1px 1px white;
}
fieldset.dark .row { font-size: 0.9em; }
fieldset.dark .row label {
  color: #505050;
  text-shadow: 1px 1px 1px white;
  width: 50px;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
  line-height: 1.2;
}
section fieldset.borderless { border-width: 0; }
.buttons {
  background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
  padding: 6px;
  text-align: right;
  border: solid #b4b4b4 1px;
  min-height: 1px;
}
.box .buttons {
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.data_row .credentials {
  color: #323232;
  width: 550px;
  margin-bottom: 10px;
  border-top: 0px;
}
.data_row .credentials dt {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 0em;
  padding: 0.4em 1em;
  float: left;
}
.data_row .credentials dd {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 0em;
  padding: 0.4em 1em;
  float: left;
}
.data_row .credentials dt {
  font-weight: bold;
  margin-left: 10px;
  width: 90px;
  text-align: right;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  text-shadow: #ffffff 1px 1px 0px;
  background: -moz-linear-gradient(top, #efefef, #c9c9c9);
  background: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#efefef), to(#c9c9c9));
  border-right: solid white 1px;
}
.data_row .credentials dd {
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  background: #ffffff;
  border-left: solid #949494 1px;
  width: 350px;
}
.data_row .change_password_button {
  background: #4b4949;
  font-weight: none;
  border-color: #3e3d3d;
  box-shadow: inset 1px 1px 1px #464444;
  -moz-box-shadow: inset 1px 1px 1px #464444;
  -webkit-box-shadow: inset 1px 1px 1px #464444;
}
fieldset.edit_user { min-height: 200px; }
.special-offer {
  border-color: #9e0101;
  color: white;
  background: -moz-linear-gradient(top, #f0ff3b, #cfc200);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0ff3b), to(#cfc200));
  text-align: center;
  padding: 4px;
  color: #323232;
  text-shadow: #e5e5e5 1px 1px 0px;
}
.grey_table {
  width: 750px;
  list-style: none;
}
.grey_table .grey_table_row {
  background-color: #efefef;
  text-shadow: #ffffff 1px 1px 0px;
  padding: 10px 6px 4px 10px;
  margin: 0px;
  height: 25px;
  font-weight: bold;
  font-size: 1.3em;
  border-bottom: 1px solid #bbbbbb;
}
.grey_table .grey_table_row.current { background-color: #ffffff; }
.grey_table .grey_table_row.header {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  background: -moz-linear-gradient(top, #f0f0f0, #cfcfcf);
  background: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#f0f0f0), to(#cfcfcf));
  border-bottom: 1px solid #949494;
  font-size: 1em;
  height: 20px;
}
.grey_table .grey_table_row.footer {
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  background-color: #cccccc;
  border-top: 1px solid #efefef;
  height: 8px;
  padding: 0px;
}
.grey_table .grey_table_row { text-align: center; }
.grey_table .grey_table_row .grey_table_cell {
  float: left;
  width: 120px;
  height: 30px;
}
.grey_table .grey_table_row .grey_table_cell .change_plan a { margin-top: -2px; }
.grey_table .grey_table_row .grey_table_cell .crud_button {
  width: 80px;
  text-align: center;
}
.grey_table .grey_table_row .grey_table_cell.monthly_price {
  color: #797979;
  font-size: 0.9em;
  width: 40px;
}
.grey_table .grey_table_row .grey_table_cell.change_plan {
  margin-top: -4px;
  margin-left: 10px;
  width: 100px;
}
.grey_table .grey_table_row .grey_table_cell.change_plan .crud_button { font-size: 0.6em; }
.grey_table .grey_table_row .grey_table_cell:nth-child(5) {
  text-align: right;
  width: 110px;
  margin-right: 15px;
}
.grey_table .grey_table_row .grey_table_cell:first-child { text-align: left; }
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: default;
}
.create-first-cloud-note {
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
  position: relative;
  text-align: right;
  margin-right: 100px;
  padding: 30px 60px;
}
.create-first-cloud-note .arrow {
  font-size: 78px;
  position: absolute;
  top: -10px;
  right: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.create-first-cloud-note .smile {
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 78px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
}
#cloud-grid-holder .grid-view-port {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dialog {
  position: relative;
  box-shadow: 2px 2px 10px #222222;
  -moz-box-shadow: 2px 2px 10px #222222;
  -webkit-box-shadow: 2px 2px 10px #222222;
  z-index: 1002;
}
.modal-box-wrapper, .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.middle-title {
  margin: 10px 0px;
  padding: 0px;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #7a7a7a;
}
.middle-title .inner {
  font-size: 1.1em;
  color: #b4b4b4;
  text-shadow: -1px -1px 1px #000000;
  text-align: center;
  padding: 5px 0px;
  background: -moz-linear-gradient(top, #727272, #4d4d4d);
  background: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#727272), to(#4d4d4d));
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #464646;
}
.middle-title.marginless { margin: 0px 0px; }
.middle-title.borderless { border: 0px; }
.new-cloud-dialog {
  position: relative;
  box-shadow: 2px 2px 10px #222222;
  -moz-box-shadow: 2px 2px 10px #222222;
  -webkit-box-shadow: 2px 2px 10px #222222;
  z-index: 1002;
  top: 100px;
  margin: auto;
}
.new-cloud-dialog .buttons input[disabled] {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  color: #8a8a8a;
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e0e0e0, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eeeeee));
  box-shadow: inset 1px 1px 1px #b1b1b1;
  -moz-box-shadow: inset 1px 1px 1px #b1b1b1;
  -webkit-box-shadow: inset 1px 1px 1px #b1b1b1;
  text-shadow: #ffffff 1px 1px 0px;
  border: 1px solid #cdcdcd;
}
.new-cloud-dialog .tick {
  float: left;
  width: 16px;
  height: 16px;
  margin: 6px 0px 0px 4px;
  padding: 0px;
}
.new-cloud-dialog .tick.info { background: url(/images/info.png); }
.new-cloud-dialog .tick.error { background: url(/images/bang.png); }
.new-cloud-dialog .tick.ok { background: url(/images/tick-ok.png); }
.edit_cloud .tick {
  float: left;
  width: 16px;
  height: 16px;
  margin: 6px 0px 0px 4px;
  padding: 0px;
}
.edit_cloud .tick.info { background: url(/images/info.png); }
.edit_cloud .tick.error { background: url(/images/bang.png); }
.edit_cloud .tick.ok { background: url(/images/tick-ok.png); }
.tick_message {
  top: 0px;
  left: 0px;
  position: absolute;
  background: red;
  opacity: 0.7;
  background: black;
  padding: 10px 10px 10px 25px;
  z-index: 1003;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 0.8em;
  max-width: 200px;
  min-height: 20px;
}
.errorExplanation { display: none; }
.fieldWithErrors input {
  margin-right: 2px;
  border: 1px solid #ff969c;
}
.formError {
  padding-top: 4px;
  color: #ff969c;
  font-size: 0.9em;
  margin-left: 330px;
}
.new-cloud-dialog .formError { margin-left: 10px; }
.graph-tooltip {
  background: -moz-linear-gradient(top, #b3d962, #7f9c44);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b3d962), to(#7f9c44));
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 5px #3c3c3c;
  -moz-box-shadow: 0px 1px 5px #3c3c3c;
  -webkit-box-shadow: 0px 1px 5px #3c3c3c;
  border: 0px !important;
  color: white !important;
  opacity: 0.9;
  text-shadow: #738f1d 1px 1px 0px;
}
.graph-tooltip.queued {
  background: -moz-linear-gradient(top, #aff0ee, #6bc4dc);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#aff0ee), to(#6bc4dc));
}
.graph-tooltip.processing {
  background: -moz-linear-gradient(top, #b3d962, #7f9c44);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b3d962), to(#7f9c44));
}
.notification-row {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #464646;
  text-shadow: #393939 -1px -1px 1px;
  color: white;
}
.notification-row label { font-size: 1.3em; }
.notification-url { padding-bottom: 15px; }
#notification_url {
  width: 40em;
  height: 25px;
  margin-top: 6px;
  padding: 0px 4px 0px 4px;
  font-size: 1.1em;
}
.notification-events input { display: inline; }
.notification-events .checkbox-wrap { margin-bottom: 0; }
.notification-event .description {
  font-size: 0.9em;
  color: #d7d7d7;
  margin-top: 2px;
}
.notification-speech { font-size: 1.3em; }
.notification-speech .doc-reference { margin-top: 15px; }
.control {
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  width: 2em;
  height: 2em;
  border: solid #323232 1px;
}
.control:active {
  background: -moz-linear-gradient(top, #282828, #727272);
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#727272));
}
.control.green {
  background: -moz-linear-gradient(top, #bbdd71, #7c9c3d);
  background: -webkit-gradient(linear, left top, left bottom, from(#bbdd71), to(#7c9c3d));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #8fb648 1px;
}
.control.green:active {
  background: -moz-linear-gradient(top, #7c9c3d, #bbdd71);
  background: -webkit-gradient(linear, left top, left bottom, from(#7c9c3d), to(#bbdd71));
}
.floater {
  margin: 10px;
  background: white;
  box-shadow: 2px 2px 5px #222222;
  -moz-box-shadow: 2px 2px 5px #222222;
  -webkit-box-shadow: 2px 2px 5px #222222;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.floater p {
  margin: 0.5em 0.5em;
  padding: 0.5em;
  color: black;
}
.floater p.note {
  background: #ffc3a8;
  font-size: 1.2em;
}
.floater h3 {
  background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
  padding: 1em;
  color: #222222;
  font-size: 1em;
}
.floater h4 {
  padding: 0.5em 1em;
  color: #555555;
}
#debug_console {
  border-collapse: collapse;
  width: 777px;
}
#debug_console th {
  text-align: left;
  color: #999999;
  padding: 0 5px;
  line-height: 33px;
}
#debug_console tr.info td.debug_time {
  background: #dabf46;
  color: white;
}
#debug_console tr.error td.debug_time {
  background: #bc1a23;
  color: white;
}
#debug_console tr.info td {
  border-bottom: #e5dbab solid 1px;
  background: #fff5e0;
  color: #cc922f;
}
#debug_console tr.error td {
  border-bottom: #ecc6c7 solid 1px;
  background: #ffeceb;
  color: #a34347;
}
#debug_console td {
  padding: 0 5px;
  overflow: hidden;
  line-height: 33px;
  font-size: 0.9em;
}
#debug_console .debug_time { width: 90px; }
.grey-page-controls .grid-view-page-controls {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.grid-container { padding-bottom: 10px; }
.grid-view-page-controls {
  position: relative;
  -webkit-box-shadow: 2px 2px 5px #222222;
  box-shadow: 2px 2px 5px #222222;
  -moz-box-shadow: 2px 2px 5px #222222;
  -webkit-box-shadow: 0px 0px 7px #3f3f3f;
  -moz-box-shadow: 0 0 7px #3f3f3f;
  float: left;
  border: 2px solid #474747;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}
.grid-view-page-controls .page-link {
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
  box-shadow: 0 0 7px #3f3f3f;
  height: 20px;
  float: left;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  line-height: 1.6em;
  color: #323232;
  border-left: 1px solid #e2e2e2;
  background-color: #f4f5f6;
  background-image: -webkit-gradient(linear, left center, right center, from(#f4f5f6), to(#e7e8ed));
  background-image: -webkit-linear-gradient(left, #f4f5f6, #e7e8ed);
  background-image: -moz-linear-gradient(left, #f4f5f6, #e7e8ed);
}
.grid-view-page-controls .page-more {
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
  box-shadow: 0 0 7px #3f3f3f;
  height: 20px;
  float: left;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  line-height: 1.6em;
  color: #323232;
  border-left: 1px solid #e2e2e2;
  background-color: #f4f5f6;
  background-image: -webkit-gradient(linear, left center, right center, from(#f4f5f6), to(#e7e8ed));
  background-image: -webkit-linear-gradient(left, #f4f5f6, #e7e8ed);
  background-image: -moz-linear-gradient(left, #f4f5f6, #e7e8ed);
}
.grid-view-page-controls .page-link:hover {
  background-image: -webkit-gradient(linear, left center, right center, from(#eaecee), to(#e2e3e8));
  background-image: -webkit-linear-gradient(left, #eaecee, #e2e3e8);
  background-image: -moz-linear-gradient(left, #eaecee, #e2e3e8);
  background-image: -o-linear-gradient(left, #eaecee, #e2e3e8);
}
.grid-view-page-controls .page-link { cursor: pointer; }
.grid-view-page-controls .page-link:active {
  background-image: none;
  background-color: #d7d7d7;
}
.grid-view-page-controls .page-more {
  border-left: 1px solid #e2e2e2;
  background-color: #f4f5f6;
  background-image: -webkit-gradient(linear, left center, right center, from(#f4f5f6), to(#e7e8ed));
  background-image: -webkit-linear-gradient(left, #f4f5f6, #e7e8ed);
  background-image: -moz-linear-gradient(left, #f4f5f6, #e7e8ed);
  cursor: default;
}
.grid-view-page-controls .page-more:hover {
  border-left: 1px solid #e2e2e2;
  background-color: #f4f5f6;
  background-image: -webkit-gradient(linear, left center, right center, from(#f4f5f6), to(#e7e8ed));
  background-image: -webkit-linear-gradient(left, #f4f5f6, #e7e8ed);
  background-image: -moz-linear-gradient(left, #f4f5f6, #e7e8ed);
  cursor: default;
}
.grid-view-page-controls .page-link:first-child {
  border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0px;
  border-left: 0px;
  background-image: url(/images/sprite.png);
  background-position: -24px -600px;
  width: 13px;
  height: 20px;
}
.grid-view-page-controls .page-link:last-child {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  background-image: url(/images/sprite.png);
  background-position: -24px -630px;
  width: 13px;
  height: 20px;
}
.grid-view-page-controls .page-link.current {
  color: #85b00a;
  font-weight: bold;
}
.grid-view-item {
  list-style: none;
  margin-left: 0px;
  width: 200px;
}
.cloud-grid-item .spinner { height: 8px; }
.stats_row header { padding: 6px 8px 8px 8px; }
.stats_row header h3 { color: black; }
.stats_row header h4 {
  color: #8e8e8e;
  font-size: 11px;
}
.stats_row .overview-holder {
  border-bottom: solid #c9c9c9 1px;
  background-color: #ededed;
}
.stats_row .slide-handle {
  border-right: solid #c9c9c9 1px;
  border-left: solid #c9c9c9 1px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: move;
}
.stats_row .slide-handle.sliding { background-color: rgba(255, 255, 255, 0.4); }
.stats_row .resize-handle { background: url(/images/graph_handle.png) no-repeat 0 5px !important; }
.stats_row .resize-handle.right {
  cursor: e-resize;
  margin-right: -5px;
}
.stats_row .resize-handle.left {
  margin-left: -5px;
  cursor: w-resize;
}
.stats_row .graph-holder .tickLabel {
  font-size: 10px;
  font-weight: bold;
  color: #aaaaaa !important;
}
.stats_row .graph-holder .yAxis .tickLabel {
  padding-right: 10px;
  width: 50px;
}
.stats_row section { padding-bottom: 4px; }
.pretty-box {
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}
.buttons {
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
}
.pretty-box .inner {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}
.pretty-box .inner > header {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-bottom: 3px;
  height: 20px;
  background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#333333), to(#181717));
  background: -moz-linear-gradient(top, #333333, #181717);
}
.pretty-box .inner > header h1 {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: white;
  text-shadow: #333333 0 -1px;
  line-height: 1em;
}
.pretty-box > .inner {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#565656), to(#333333));
  background: -moz-linear-gradient(top, #565656, #333333);
}
.mini-box {
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  background: #515151;
  margin: 20px 20px 0px 20px;
  font-size: 1em;
  color: white;
  text-shadow: black 0 -1px;
}
.mini-box > .inner {
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #2f2f2f;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.mini-box > .inner li:last-child {
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}
.mini-box > .inner li:first-child {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.mini-box > .inner ul {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}
