#templates { display: none; }
.spinner {
  display: none;
  top: 50%;
  left: 380px;
  position: absolute;
}
#content { width: 100%; }
.hidden { display: none; }
#video-list-holder ul { list-style: none; }
#video-list-holder ul li {
  display: inline;
  width: 400px;
}
#video-list-holder ul li img {
  border: 1px solid #999999;
  padding: 2px;
  width: 175px;
}
.video-list-item div { font-size: 0.9em; }
#video-player { margin-bottom: 10px; }
#video-display-holder #encodings {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
#video-display-holder #encodings li {
  margin-bottom: 20px;
  margin-left: 0px;
}
#video-display-holder #encodings .width-height { font-size: 0.9em; }
#video-display-holder #encodings .left {
  float: left;
  width: 75px;
}
#video-display-holder #encodings .details {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
#video-display-holder #encodings .details div { margin-bottom: 5px; }
#video-display-holder #encodings .location { font-size: 0.7em; }
.bfx_upload_progress {
  width: 300px;
  padding: 2px;
  border: 1px inset #cccccc;
  background-color: #fafafa;
  background: -moz-linear-gradient(-90deg, #e6e6e6, #fafafa);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e6e6e6), to(#fafafa));
}
.encoding-progress .outer {
  width: 300px;
  padding: 2px;
  border: 1px inset #cccccc;
  background-color: #fafafa;
  background: -moz-linear-gradient(-90deg, #e6e6e6, #fafafa);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#e6e6e6), to(#fafafa));
}
.bfx_upload_progress .progress-inside {
  background-color: #85b00a;
  background: -moz-linear-gradient(-90deg, #85b00a, #6c8f08);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#85b00a), to(#6c8f08));
  height: 15px;
}
.encoding-progress .inner {
  background-color: #85b00a;
  background: -moz-linear-gradient(-90deg, #85b00a, #6c8f08);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#85b00a), to(#6c8f08));
  height: 15px;
}
.vms-header {
  margin-left: auto;
  margin-right: auto;
}
div.video-grid-item {
  color: white;
  display: relative;
  margin: 10px auto;
  padding-bottom: 20px;
  width: 162px;
}
div.video-grid-item .overlay {
  position: absolute;
  background: url(/images/overlay.png) no-repeat top right;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 148px;
  height: 111px;
  radius: 3px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px #3f3f3f;
  -moz-box-shadow: 0 0 7px #3f3f3f;
  box-shadow: 0 0 7px #3f3f3f;
}
div.video-grid-item .overlay:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(179, 217, 72, 0.5);
  -moz-box-shadow: 0 0 7px rgba(179, 217, 72, 0.5);
  box-shadow: 0 0 7px rgba(179, 217, 72, 0.5);
}
div.video-grid-item .overlay .inner {
  width: 147px;
  height: 111px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  radius: 3px;
}
div.video-grid-item .overlay .overlay-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  width: 46px;
  height: 44px;
  background: url(/images/play-buttons.png) no-repeat;
  background-size: 46px;
}
div.video-grid-item .overlay:active .overlay-button { background-position: 0 -49px; }
div.video-grid-item .overlay:hover .overlay-button { display: inline; }
.image-wrap img {
  width: 150px;
  height: 112px;
  border-radius: 3px;
}
div.video-grid-item h3 {
  color: white;
  margin: 0 5px;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 8px;
  padding-bottom: 5px;
}
div.video-grid-item h3 a {
  color: white;
  text-decoration: none;
  text-shadow: #333333 1px 1px 1px;
}
div.video-grid-item h3 a:visited {
  color: white;
  text-decoration: none;
  text-shadow: #333333 1px 1px 1px;
}
div.video-grid-item h3 a:hover { text-decoration: underline; }
div.video-grid-item .image-wrap { position: relative; }
div.video-grid-item .duration {
  position: absolute;
  bottom: 3px;
  right: 12px;
  font-size: 0.8em;
  background-color: #333333;
  color: white;
  padding: 2px;
  opacity: 0.9;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
}
div.video-grid-item .display-holder {
  width: 500px;
  height: 500px;
  background-color: white;
  z-index: 9;
}
div.video-grid-item .details p {
  margin: 0 5px;
  padding: 0px;
  font-size: 0.7em;
}
#video-grid-holder {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#video-grid-holder .grid-header {
  padding: 5px 10px;
  border: 1px solid #9ab461;
  background: #b3da62;
  background: -moz-linear-gradient(-90deg, #b3da62, #8aa74a);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#b3da62), to(#8aa74a));
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}
#video-grid-holder .grid-header h2 {
  color: white;
  padding: 0px;
  margin: 0px;
}
#video-grid-holder .grid-view-port {
  padding-top: 10px;
  padding-bottom: 10px;
}
#video-grid-holder .grid-view-item {
  list-style: none;
  margin-left: 0px;
  width: 200px;
}
.video-display-background {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  background-color: #ffffff;
  position: relative;
  margin: auto;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 10px #222222;
  -moz-box-shadow: 2px 2px 10px #222222;
  text-align: left;
  width: 489px;
}
.video-display-background .dialog-close-btn {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 10px;
  left: 10px;
  background: url('/images/dialog-close.png') center center no-repeat;
  z-index: 9999;
}
.video-display-background img.preview {
  height: 112px;
  width: 150px;
}
.video-display-background .preview-holder {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  padding: 5px 5px 10px;
  background: white;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  margin-left: -20px;
  margin-top: -35px;
  z-index: 9999;
}
a.close {
  background: url(/images/close.png);
  position: absolute;
  right: -16px;
  top: -16px;
  height: 30px;
  width: 30px;
  z-index: 20;
}
.video-display-background ul.encodings {
  margin: 0px;
  padding: 0px;
  background: #515151;
}
.video-player-container {
  background-color: black;
  border-bottom: 1px solid #2f2f2f;
  border-top: 1px solid #262626;
  z-index: 10;
}
.video-player-container2 { border-top: 1px solid #5f5f5f; }
.video-display-background .encoding-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}
#video-player {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  z-index: 11;
}
.video-display-background .wrap {
  margin-left: auto;
  margin-right: auto;
}
.video-details {
  margin-left: 20px;
  font-size: 0.9em;
  color: white;
  text-shadow: black -1px -1px 1px;
}
.video-display-background .details { width: 346px; }
.video-display-background .details .mini-box .inner { padding: 1em; }
.video-display-background .delete { font-size: 0.8em; }
.video-display-background .delete input:hover { cursor: pointer; }
.video-display-background .middle-title {
  margin: 0px;
  border-bottom: none;
}
.video-preview img {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
}
.video-preview {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
}
.encodings {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
.encodings li {
  margin: 0px;
  padding: 14px 1em;
  border-bottom: 1px solid #2f2f2f;
  border-top: 1px solid #5f5f5f;
}
.encodings li:first-child { border-top: none; }
.encodings li:last-child { border-bottom: none; }
.encodings .width-height { font-size: 0.9em; }
.encodings .details {
  float: left;
  padding-left: 20px;
  text-align: left;
  width: 318px;
}
.encodings .details .profile .name {
  font-size: 1.1em;
  font-weight: bold;
}
.encodings .details .profile {
  margin-top: 2px;
  width: 242px;
  font-size: 0.9em;
  margin-bottom: 8px;
  color: white;
  text-shadow: black 0 -1px;
}
.encodings .details .encoding-progress { width: 200px; }
.encodings .location { font-size: 0.7em; }
.encodings .details .links { text-align: left; }
.encoding-display {
  padding: 0px;
  text-align: center;
}
.encoding-display img {
  max-width: 60px;
  max-height: 50px;
}
.encoding-display .icon-preview {
  width: 60px;
  height: 50px;
}
.encoding-display .encoding-progress {
  margin-top: 7px;
  margin-bottom: 0px;
  width: 250px;
}
.upload-form-holder {
  text-align: left;
  min-height: 100px;
  width: 420px;
  background-color: white;
  z-index: 5;
  -webkit-box-shadow: 2px 2px 10px #222222;
  -moz-box-shadow: 2px 2px 10px #222222;
  margin: auto;
}
.upload-form-holder h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.upload-form-holder .box-content .button-section {
  padding: 10px;
  border-bottom: 1px solid #464646;
}
.upload-form-holder .box-content .progress-section {
  padding: 10px;
  border-top: 1px solid #7a7a7a;
}
.upload-form-holder .box-content {
  background-color: #646464;
  text-shadow: #333333 -1px -1px 1px;
  color: #aaaaaa;
}
.upload-form-holder .details h3 { float: left; }
.upload-form-holder .details .size { float: right; }
.bfx-upload-progress {
  height: 10px;
  background-color: #383838;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 1px #7a7a7a;
  -moz-box-shadow: 1px 1px 1px #7a7a7a;
  -webkit-box-shadow: 1px 1px 1px #7a7a7a;
  border: 1px solid #333333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#484848));
}
.bfx-upload-progress .progress-inside {
  height: 10px;
  width: 0%;
  background-color: #b3d948;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3d948), to(#8aa835));
}
.upload-form-holder .percentage-complete { display: none; }
.uploader-help {
  font-size: 0.9em;
  margin: 0px;
  margin-left: 10px;
}
#encoding-queue-holder .grid-header {
  padding: 5px 10px;
  border: 1px solid #585858;
  background: #727272;
  background: -moz-linear-gradient(-90deg, #727272, #343434);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#727272), to(#343434));
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
}
#encoding-queue-holder .grid-header.expanded {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
}
#encoding-queue-holder .grid-header h2 {
  color: white;
  padding: 0px;
  margin: 0px;
}
#encoding-queue-holder .show-hide {
  margin-right: 5px;
  cursor: pointer;
}
#encoding-queue-holder .grid-view-item {
  list-style: none;
  margin-left: 0px;
}
#encoding-queue-holder .grid-view-page-controls {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.9em;
}
#encoding-queue-holder .invisible { visibility: hidden; }
.encoding-queue-item {
  margin: 10px;
  background: -moz-linear-gradient(-90deg, #ffffff, #cccccc);
  background: -webkit-gradient(linear, 0% 2%, 0% 20%, from(#ffffff), to(#c9c9c9));
  border-radius: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 2px 5px #222222;
  -moz-box-shadow: 2px 2px 5px #222222;
  padding: 2px 0px 5px 0px;
  width: 100px;
}
.encoding-queue-item.big {
  z-index: 20;
  position: absolute;
  top: 50px;
  left: 50px;
}
.encoding-queue-item h5 {
  font-weight: bold;
  color: #626262;
  text-shadow: white 1px 1px 0px;
  font-size: 0.9em;
  margin: 1px 2px 1px 2px;
  padding: 0px 0px 2px 3px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.encoding-queue-item.fail { border: 1px solid red; }
.encoding-queue-item .wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.encoding-queue-item img.preview {
  width: 100px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0px;
  border-bottom: 1px solid #949494;
}
.encoding-queue-item.big img.preview { width: 420px; }
.encoding-queue-item.big .progress-bar { width: 420px; }
.encoding-queue-item .encoding-preview {
  position: relative;
  border-top: 1px solid #949494;
}
.encoding-queue-item .progress-bar {
  position: absolute;
  top: 3px;
  left: 3px;
}
.encoding-queue-item .progress-bar .outer {
  width: 92px;
  height: 8px;
  background-color: #383838;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #333333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b4b4b), to(#676767));
  background: -moz-linear-gradient(top, #4b4b4b, #676767);
  -webkit-box-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 1px;
}
.encoding-queue-item .progress-bar .inner {
  height: 8px;
  width: 0%;
  max-width: 100%;
  background-color: #b3d948;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3d948), to(#8aa835));
  background-image: -moz-linear-gradient(top, #b3d948, #8aa835);
}
.encoding-queue-item.fail .progress-bar .inner {
  background-color: #cc312d;
  background: -moz-linear-gradient(-90deg, #cc312d, #e53733);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#cc312d), to(#e53733));
  height: 8px;
}
.encoding-queue-item .details {
  display: none;
  background: url(/images/details.png);
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px 0px 0px 2px;
  padding: 0px;
  bottom: 4px;
  right: 4px;
}
.encoding-queue-item:hover .details { display: block; }
#flash-message {
  width: 780px;
  top: 60px;
  height: 18px;
  position: absolute;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px #666666;
  -moz-box-shadow: 1px 1px 10px #666666;
}
#flash-message.error {
  border: 1px solid #cf0000;
  border-top: none;
  background-color: #f30000;
  color: white;
  background: -moz-linear-gradient(-90deg, #d90000, #f30000);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#d90000), to(#f30000));
}
#flash-message p {
  margin: 5px;
  margin-top: 0px;
  font-size: 1.2em;
  font-family: 'Myriad Pro', helvetica, arial, sans-serif;
  text-align: left;
}
video.vjs-mediacore { background: #000000; }
.vjs-controls {
  border-top: 1px solid rgba(0, 0, 0, 0.66);
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
  background: #727272;
  background: -moz-linear-gradient(top, rgba(89, 89, 89, 0.85) 0%, rgba(54, 54, 54, 0.85) 49%, rgba(36, 36, 36, 0.85) 50%, rgba(27, 27, 27, 0.85) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(89, 89, 89, 0.85)), color-stop(49%, rgba(54, 54, 54, 0.85)), color-stop(50%, rgba(36, 36, 36, 0.85)), color-stop(100%, rgba(27, 27, 27, 0.85)));
  background: -o-linear-gradient(top, rgba(89, 89, 89, 0.85) 0%, rgba(54, 54, 54, 0.85) 49%, rgba(15, 15, 15, 0.63) 50%, rgba(27, 27, 27, 0.85) 100%);
  position: absolute;
  margin: 0;
  color: #ffffff;
  display: none;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0px;
  height: 23px;
  padding: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.vjs-controls > div {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 26px;
  top: 1px;
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
img.vjs-poster {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.vjs-controls > div.vjs-play-control {
  left: 5px;
  width: 25px;
}
.vjs-controls > div.vjs-progress-control {
  left: 75px;
  right: 114px;
  z-index: 301;
}
.vjs-controls > div.vjs-time-control {
  width: 100%;
  left: 36px;
  top: -1px;
  z-index: 300;
}
.vjs-controls > div.vjs-volume-control {
  width: 24px;
  right: 37px;
  z-index: 301;
}
.vjs-controls > div.vjs-fullscreen-control {
  width: 25px;
  right: 7px;
  z-index: 301;
}
.vjs-play-control { cursor: pointer !important; }
.vjs-play-control span {
  display: block;
  font-size: 0;
  line-height: 0;
}
.vjs-paused .vjs-play-control span {
  background: url('/images/mediacore-sprites.png') no-repeat -81px -2px;
  width: 19px;
  height: 15px;
  margin: 3px 0 0 3px;
  border: none;
}
.vjs-paused .vjs-play-control span:active {
  background-position: -81px -18px;
  height: 17px;
  margin-top: 2px;
}
.vjs-playing .vjs-play-control span {
  background: url('/images/mediacore-sprites.png') no-repeat -81px -37px;
  width: 19px;
  height: 15px;
  margin: 3px 0 0 3px;
  border: none;
}
.vjs-playing .vjs-play-control span:active {
  background-position: -81px -56px;
  height: 17px;
  margin-top: 2px;
}
.vjs-progress-holder {
  position: relative;
  padding: 0;
  overflow: hidden;
  cursor: pointer !important;
  height: 8px;
  border: 1px solid #000000;
  margin: 6px 1px 0 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.vjs-progress-holder div {
  position: absolute;
  display: block;
  width: 0;
  height: 8px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.vjs-play-progress {
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #c2c2c2 49%, #aaaaaa 50%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(49%, #c2c2c2), color-stop(50%, #aaaaaa), color-stop(100%, #f2f2f2));
  background: -o-linear-gradient(top, #f8f8f8 0%, #c2c2c2 49%, #aaaaaa 50%, #f2f2f2 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(0, 0, 0, 0.2);
}
.vjs-load-progress {
  background-color: rgba(255, 255, 255, 0.31);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
}
.vjs-controls .vjs-time-control {
  font-size: 11px;
  line-height: 1;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px #000000;
}
.vjs-controls .vjs-time-control span {
  line-height: 25px;
  display: none;
}
.vjs-controls .vjs-time-control .vjs-current-time-display {
  position: absolute;
  display: block;
}
.vjs-controls .vjs-time-control .vjs-duration-display {
  display: block;
  position: absolute;
  right: 106px;
}
.vjs-volume-control { cursor: pointer !important; }
.vjs-volume-control div {
  display: block;
  margin: 0;
  padding: 4px 0 0 0;
}
.vjs-volume-control div span {
  background: rgba(0, 0, 0, 0.41);
  float: left;
  padding: 0;
  margin: 0 2px 0 0;
  width: 2px;
  display: block;
  height: 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.vjs-volume-control div span.vjs-volume-level-on {
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #f3f3f3 49%, #d4d4d4 50%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(49%, #f3f3f3), color-stop(50%, #d4d4d4), color-stop(100%, #dddddd));
  background: -o-linear-gradient(top, #ececec 0%, #f3f3f3 49%, #d4d4d4 50%, #dddddd 100%);
  box-shadow: 0 1px 1px #000000;
  -webkit-box-shadow: 0 1px 1px #000000;
  -moz-box-shadow: 0 1px 1px #000000;
  border-bottom-width: none;
  height: 12px;
}
.vjs-volume-control div span:nth-child(1) {
  border-bottom-width: 0;
  height: 12px;
}
.vjs-volume-control div span:nth-child(2) {
  border-bottom-width: 0;
  height: 12px;
}
.vjs-volume-control div span:nth-child(3) {
  border-bottom-width: 0;
  height: 12px;
}
.vjs-volume-control div span:nth-child(4) {
  border-bottom-width: 0;
  height: 12px;
}
.vjs-volume-control div span:nth-child(5) {
  border-bottom-width: 0;
  height: 12px;
}
.vjs-volume-control div span:nth-child(6) {
  border-bottom-width: 0;
  height: 12px;
  margin-right: 0;
}
.vjs-fullscreen-control { cursor: pointer !important; }
.vjs-fullscreen-control div {
  padding: 0;
  text-align: left;
  vertical-align: top;
  cursor: pointer !important;
  margin: 5px 0 0 6px;
  width: 15px;
  height: 15px;
  background: url('/images/mediacore-sprites.png') no-repeat -83px -77px;
}
.vjs-fullscreen-control div:active {
  background-position: -83px -94px;
  height: 17px;
}
.vjs-fullscreen-control div span { display: none; }
.vjs-fullscreen .vjs-controls > div.vjs-fullscreen-control { right: 9px; }
.vjs-fullscreen .vjs-fullscreen-control div {
  margin-top: 11px;
  background-position: -83px -111px;
}
.vjs-fullscreen .vjs-fullscreen-control div:active { background-position: -84px -131px; }
.vjs-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 6001;
}
.vjs-fullscreen video.video-js {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vjs-fullscreen .vjs-flash-fallback {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vjs-fullscreen .vjs-controls {
  background: -moz-linear-gradient(top, rgba(89, 89, 89, 0.9) 0%, rgba(54, 54, 54, 0.85) 37%, rgba(36, 36, 36, 0.85) 37%, rgba(27, 27, 27, 0.85) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(89, 89, 89, 0.85)), color-stop(37%, rgba(54, 54, 54, 0.85)), color-stop(37%, rgba(36, 36, 36, 0.85)), color-stop(100%, rgba(27, 27, 27, 0.85)));
  background: -o-linear-gradient(top, rgba(89, 89, 89, 0.85) 0%, rgba(54, 54, 54, 0.85) 37%, rgba(15, 15, 15, 0.63) 37%, rgba(27, 27, 27, 0.85) 100%);
  width: 340px;
  bottom: 40px;
  left: 50%;
  margin-left: -170px;
  border: 1px solid #000000;
  height: 57px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.12);
}
.vjs-fullscreen .vjs-controls > div.vjs-volume-control {
  right: 295px;
  top: 11px;
  width: 30px;
}
.vjs-fullscreen .vjs-controls > div.vjs-volume-control div span { margin-right: 3px; }
.vjs-fullscreen .vjs-controls > div.vjs-play-control {
  left: 155px;
  width: 25px;
  top: 5px;
}
.vjs-fullscreen .vjs-controls .vjs-play-control.vjs-playing span {
  background: url('/images/mediacore-sprites.png') no-repeat -105px -56px;
  width: 27px;
  height: 30px;
  margin: 1px 0 0 3px;
}
.vjs-fullscreen .vjs-controls .vjs-play-control.vjs-paused span {
  background: url('/images/mediacore-sprites.png') no-repeat -105px 0;
  width: 27px;
  height: 30px;
  margin: 1px 0 0 3px;
}
.vjs-fullscreen .vjs-controls .vjs-play-control.vjs-paused span:active { background-position: -105px -28px; }
.vjs-fullscreen .vjs-controls .vjs-play-control.vjs-playing span:active { background-position: -105px -84px; }
.vjs-fullscreen .vjs-controls > div.vjs-progress-control {
  top: 33px;
  left: 48px;
  right: 52px;
}
.vjs-fullscreen .vjs-controls > div.vjs-time-control {
  top: 31px;
  left: 9px;
}
.vjs-fullscreen .vjs-controls .vjs-time-control .vjs-duration-display { right: 18px; }
.vjs-no-video {
  font-size: small;
  line-height: 1.5;
}
div.vjs-big-play-button {
  display: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  text-align: center;
  vertical-align: center;
  cursor: pointer !important;
  background: url('/images/mediacore-sprites.png') no-repeat 0 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
}
div.vjs-big-play-button:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.vjs-big-play-button:active { background-position: 0 -78px; }
div.vjs-big-play-button span { display: none; }
.vjs-spinner { display: none; }
.vjs-spinner div { display: none; }
.no_shadow, .no_bevel {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.hidden { display: none; }
.reset {
  padding: 0;
  margin: 0;
}
.paint { background: silver; }
.preset_gradient {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
}
.grey_gradient {
  background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
}
.dark_gradient {
  background: -moz-linear-gradient(top, #767676, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#282828));
}
.bottom_shadow {
  box-shadow: 0 2px 4px #bebebe;
  -moz-box-shadow: 0 2px 4px #bebebe;
  -webkit-box-shadow: 0 2px 4px #bebebe;
  position: relative;
}
body, form, table, p, ul, ol, dl, dd, dt, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
nav, header, footer, section, aside, hgroup {
  display: block;
  zoom: 1;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#ffffff), to(#e9e9e9));
  background-image: -moz-linear-gradient(top, #ffffff, #e9e9e9);
  background-repeat: repeat-x;
  background-color: #e9e9e9;
  min-height: 1000px;
}
h1 {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 1;
  text-shadow: black 1px 1px 0px;
}
a img { border-width: 0; }
.padded { padding: 20px; }
.left { float: left; }
.right { float: right; }
.bottomborderless { border-bottom: 0px; }
a.green { color: #89ba47; }
a.green:active { color: #89ba47; }
a.green:visited { color: #89ba47; }
.button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
}
.button.green {
  background: -moz-linear-gradient(top, #b3d962, #7f9c44);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b3d962), to(#7f9c44));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border-left: solid #83ae3b 1px;
  border-top: solid #83ae3b 1px;
  border-bottom: 1px solid #597626;
  border-right: solid #597626 1px;
  color: #ffffff;
  text-shadow: #738f1d 1px 1px 0px;
}
.button.red {
  background: -moz-linear-gradient(top, #dd464b, #a12f33);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd464b), to(#a12f33));
  color: #ffffff;
  text-shadow: #738f1d 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #f8d1d1;
  -moz-box-shadow: inset 1px 1px 1px #f8d1d1;
  -webkit-box-shadow: inset 1px 1px 1px #f8d1d1;
  border-color: #b7131e;
}
.button.red:active {
  background: -moz-linear-gradient(top, #a12f33, #dd464b);
  background: -webkit-gradient(linear, left top, left bottom, from(#a12f33), to(#dd464b));
}
.button.grey {
  background: -moz-linear-gradient(top, #f3f3f3, #d1d1d1);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#f3f3f3), to(#d1d1d1));
  border: solid #a3a3a3 1px;
}
.button_hover {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
.rounded_left {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
.rounded_right {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
.button.green:active {
  background: #acd05f;
  color: white;
  box-shadow: inset 1px 1px 1px #acd05f;
  -moz-box-shadow: inset 1px 1px 1px #acd05f;
  -webkit-box-shadow: inset 1px 1px 1px #acd05f;
}
.button:active {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
.alt_button {
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: #dadada;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #595959;
  text-shadow: 1px 1px 1px #ffffff;
  text-decoration: none;
  font-size: 10px;
  line-height: 2.4;
  padding: 0 10px;
  border: solid #ababab 1px;
  background: -moz-linear-gradient(top, #f3f3f3, #b0b0b0);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#f3f3f3), to(#b0b0b0));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.alt_button:active {
  background: -moz-linear-gradient(top, #b0b0b0, #f3f3f3);
  background: -webkit-gradient(linear, 0% 1%, 0% 90%, from(#b0b0b0), to(#f3f3f3));
  color: #595959;
}
.alt_button:visited { color: #595959; }
.crud_button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
}
.crud_button.ondark {
  -webkit-box-shadow: none;
  border: none;
}
.crud_button:active {
  background: -moz-linear-gradient(top, #282828, #727272);
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#727272));
  color: white;
}
.crud_button:visited { color: white; }
.crud_button.red {
  box-shadow: inset 1px 1px 1px #f8d1d1;
  -moz-box-shadow: inset 1px 1px 1px #f8d1d1;
  -webkit-box-shadow: inset 1px 1px 1px #f8d1d1;
  background: -moz-linear-gradient(top, #dd464b, #a12f33);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd464b), to(#a12f33));
  border-color: #b7131e;
  text-shadow: 1px 1px 1px #892e26;
}
.crud_button.red:active {
  background: -moz-linear-gradient(top, #a12f33, #dd464b);
  background: -webkit-gradient(linear, left top, left bottom, from(#a12f33), to(#dd464b));
}
.funny_font {
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
}
.funny_font a { color: #7f9c44; }
ul.nav { list-style-type: none; }
ul.nav li { float: left; }
ul.nav a { display: inline-block; }
#wrapper {
  width: 797px;
  margin: 0 auto;
}
#box {
  color: white;
  background-color: #595959;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px #999999;
  -moz-box-shadow: 3px 3px 3px #999999;
  -webkit-box-shadow: 3px 3px 3px #999999;
}
body.narrow { background-image: url(/images/login_bg.jpg) center 150px no-repeat; }
.rounded_header {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: solid #464646 1px;
}
.box {
  width: 358px;
  margin: 170px auto 0 auto;
  background: #595959;
  overflow: hidden;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.box > header {
  color: #547422;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: solid #464646 1px;
}
.box > header h1 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  text-shadow: #c7d89f 1px 1px 0px;
  line-height: 2.6;
}
#header {
  display: block;
  margin-bottom: 5px;
}
#header .logo { float: left; }
#header .nav { float: left; }
#header .logo {
  margin-top: 14px;
  width: 107px;
  height: 48px;
}
#header .nav.public_nav { float: right; }
#header .app_nav {
  margin-top: 19px;
  margin-left: 16px;
}
#header .app_nav a.nav_button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  padding: 5px 10px 6px 10px;
  font-weight: normal;
}
#header .app_nav a.nav_button:active {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
}
#header .app_nav a.nav_button:first-child {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
#header .app_nav a.nav_button:last-child {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
.nav_button.choose_cloud span {
  background: transparent url(/images/arrow_down.png) no-repeat right;
  padding-right: 16px;
}
li.selected .nav_button.choose_cloud span {
  background: transparent no-repeat right;
  padding-right: 16px;
}
#header li { position: relative; }
#header li ul {
  min-width: 120px;
  list-style-type: none;
  position: absolute;
  top: 29px;
  left: 0px;
  z-index: 20;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  background: -moz-linear-gradient(top, #ebebeb, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e7e7e7));
}
#header li ul li a {
  background: -moz-linear-gradient(top, #ebebeb, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e7e7e7));
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid white;
  display: block;
  height: 24px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 4px 10px;
  font-size: 0.8em;
  border-width: 1px 0 1px 0;
  text-shadow: white 1px 1px 0px;
  color: #606060;
  text-decoration: none;
  font-size: 1.2em;
  width: 200px;
}
#header li ul li:last-child a {
  border-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}
#header li.pulldown ul { display: none; }
#header li.pulldown.selected ul { display: block; }
#header li.pulldown.selected a.nav_button {
  background: #e7e7e7;
  box-shadow: inset 1px 1px 1px #e7e7e7;
  -moz-box-shadow: inset 1px 1px 1px #e7e7e7;
  -webkit-box-shadow: inset 1px 1px 1px #e7e7e7;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
}
#header li.pulldown.selected a.nav_button { width: 200px; }
#header li.pulldown.selected a.nav_button:first-child {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
#header .public_nav { margin-top: 42px; }
#header .public_nav li { margin-right: 12px; }
#header .public_nav li:last-child { margin-right: 0; }
#header .public_nav a {
  color: #b6b6b6;
  text-decoration: none;
}
#header .public_nav a:hover { text-decoration: underline; }
#nav {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  position: relative;
  text-align: center;
  padding-top: 6px;
  height: 32px;
  overflow: hidden;
  border-bottom: 1px solid #3b4f15;
}
#nav h1 {
  color: #ffffff;
  text-shadow: #333333 1px 1px 0px;
  font-size: 15px;
  padding: 5px 10px 6px 10px;
  line-height: 1;
}
#nav a {
  color: #6a6a6a;
  text-decoration: none;
  text-shadow: white 1px 1px 0px;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px 6px 10px;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
}
#nav a.current {
  background: #afafaf;
  color: #ffffff;
  text-shadow: #333333 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #848484;
  -moz-box-shadow: inset 1px 1px 1px #848484;
  -webkit-box-shadow: inset 1px 1px 1px #848484;
}
#nav.bottom_shadow {
  box-shadow: 0 4px 4px #505050;
  -moz-box-shadow: 0 4px 4px #505050;
  -webkit-box-shadow: 0 4px 4px #505050;
}
.no-cssgradients #nav { background: #9ec03e; }
.no-cssgradients #footer { background: #9ec03e; }
#main > header {
  padding: 16px;
  padding-bottom: 14px;
  background: -moz-linear-gradient(top, #767676, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#282828));
}
.header_list { font-size: 11px; }
.header_list dt { float: left; }
.hheader_list dd { float: left; }
.header_list dt { margin-right: 3px; }
h2.blank-state {
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: #282828 0px 1px 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 600px;
}
h3.blank-state {
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  text-shadow: #282828 0px 1px 1px;
  font-family: 'Reenie Beanie', arial, serif;
  font-size: 42px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-top: 25px;
}
h2.blank-state a { color: #7f9c44; }
h3.blank-state a { color: #7f9c44; }
#footer {
  background: -moz-linear-gradient(top, #cecece, #9e9e9e);
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  min-height: 34px;
  line-height: 2;
  text-align: center;
  font-size: 11px;
  line-height: 35px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
#footer a {
  color: #ffffff;
  text-decoration: none;
}
#footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#footer a:hover { text-decoration: underline; }
.flash-message {
  text-align: center;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 5px #505050;
  -moz-box-shadow: 1px 1px 5px #505050;
  -webkit-box-shadow: 1px 1px 5px #505050;
  border-bottom: 1px solid #3b4f15;
  padding: 6px 3px;
  font-size: 12px;
}
.flash-message.absolute {
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.flash-message.error {
  border-color: #9e0101;
  color: white;
  background: -moz-linear-gradient(top, #ff4548, #d91818);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4548), to(#d91818));
}
.flash-message.success {
  border-color: #749829;
  color: white;
  background: -moz-linear-gradient(top, #97c836, #80a72d);
  background: -webkit-gradient(linear, left top, left bottom, from(#97c836), to(#80a72d));
  text-shadow: #8c8c8c 1px 1px 0px;
}
#sandbox_warning {
  font-size: 0.9em;
  width: 100%;
  color: #adadad;
  text-align: center;
  border-bottom: 1px solid #3e3e3e;
}
#sandbox_warning .note {
  background: -moz-linear-gradient(top, #494949, #252525);
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#252525));
  height: 18px;
  width: 100%;
  padding: 2px 0px 2px 0px;
  color: #d5d5d5;
}
#sandbox_warning .note span { font-weight: bold; }
#sandbox_warning .bar {
  background: url('/images/sandbox_bar.png') repeat;
  height: 5px;
}
#sandbox_warning a {
  color: #e9c543;
  font-weight: bold;
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
input[type=text], input[type=password] {
  border: 1px solid #464646;
  -moz-box-shadow: inset 0 0 2px #272727;
  -webkit-box-shadow: inset 0px 0px 2px #272727;
  box-shadow: inset 0 0 2px #272727;
}
.confirm-dialog {
  background-color: #eeeeee;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  box-shadow: 2px 2px 5px #3c3c3c;
  -moz-box-shadow: 2px 2px 5px #3c3c3c;
  -webkit-box-shadow: 2px 2px 5px #3c3c3c;
  border: 1px solid #2f2f2f;
  text-align: center;
}
.confirm-dialog .inner { margin: 16px; }
.confirm-dialog .dialog-note {
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
  color: #444444;
}
.confirm-dialog .dialog-buttons li {
  float: left;
  list-style-type: none;
  margin-left: 19px;
}
.confirm-dialog .dialog-buttons .button {
  width: 61px;
  height: 19px;
  font-size: 18px;
  padding: 9px;
  margin: 0px;
  text-align: center;
}
.dialog-arrow {
  border-color: transparent transparent transparent transparent;
  position: absolute;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
}
.dialog-arrow.left { border-color: transparent transparent transparent #eeeeee; }
.dialog-arrow.bottom { border-color: transparent transparent #eeeeee transparent; }
.dialog-arrow.top { border-color: #eeeeee transparent transparent transparent; }
#nav, #footer {
  background: -moz-linear-gradient(top, #b3d948, #8aa835);
  background: -webkit-gradient(linear, left top, left bottom, from(#b3d948), to(#8aa835));
}
.box > header {
  background: -moz-linear-gradient(top, #b3d948, #8aa835);
  background: -webkit-gradient(linear, left top, left bottom, from(#b3d948), to(#8aa835));
}
#nav a {
  color: #567401;
  text-shadow: #cddd9e 1px 1px 0px;
}
#nav a.current {
  background: #98bd32;
  text-shadow: #738f1d 1px 1px 0px;
  box-shadow: inset 1px 1px 1px #758c36;
  -moz-box-shadow: inset 1px 1px 1px #758c36;
  -webkit-box-shadow: inset 1px 1px 1px #758c36;
}
.crud_button.green {
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  background: -moz-linear-gradient(top, #bbdd71, #7c9c3d);
  background: -webkit-gradient(linear, left top, left bottom, from(#bbdd71), to(#7c9c3d));
  text-shadow: #737373 1px 1px 0px;
  border: solid #8fb648 1px;
}
.crud_button.green:visited { color: #ffffff; }
.crud_button.green:active {
  color: #ffffff;
  background: -moz-linear-gradient(top, #7c9c3d, #bbdd71);
  background: -webkit-gradient(linear, left top, left bottom, from(#7c9c3d), to(#bbdd71));
}
.crud_button.selected {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  color: #8a8a8a;
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e0e0e0, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eeeeee));
  box-shadow: inset 1px 1px 1px #b1b1b1;
  -moz-box-shadow: inset 1px 1px 1px #b1b1b1;
  -webkit-box-shadow: inset 1px 1px 1px #b1b1b1;
  text-shadow: #ffffff 1px 1px 0px;
  border: 1px solid #cdcdcd;
}
.crud_button.selected:active {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px white;
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e7e7e7));
  border: 1px solid #d7d7d7;
  color: #818181;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: -moz-linear-gradient(top, #727272, #282828);
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#282828));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: solid #323232 1px;
  color: #ffffff;
  text-shadow: none;
  font-size: 11px;
  padding: 6px 10px 6px 10px;
  color: #8a8a8a;
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e0e0e0, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eeeeee));
  box-shadow: inset 1px 1px 1px #b1b1b1;
  -moz-box-shadow: inset 1px 1px 1px #b1b1b1;
  -webkit-box-shadow: inset 1px 1px 1px #b1b1b1;
  text-shadow: #ffffff 1px 1px 0px;
  border: 1px solid #cdcdcd;
}
.crud_button.create span {
  background: transparent url(/images/plus.png) no-repeat;
  padding-left: 16px;
}
.crud_button.add span {
  background: transparent url(/images/plus.png) no-repeat;
  padding-left: 16px;
}
.crud_button.upload span {
  background: transparent url(/images/arrow_up.png) no-repeat;
  padding-left: 16px;
}
.crud_button .login {
  background: transparent url(/images/arrow_right.png) no-repeat;
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-left: 16px;
  color: #ffffff;
  text-shadow: #737373 1px 1px 0px;
}
.video-playerbox {
  background: black;
  position: relative;
  margin: auto;
  box-shadow: 0 10px 30px #000000;
  -moz-box-shadow: 0 10px 30px #000000;
  -webkit-box-shadow: 0 10px 30px #000000;
}
.video-playerbox:hover .close-player {
  top: -12px;
  left: -12px;
  position: absolute;
  background-image: url(/images/video-player-close.png);
  width: 24px;
  height: 24px;
  z-index: 9999;
}
.close-player:hover {
  top: -12px;
  left: -12px;
  position: absolute;
  background-image: url(/images/video-player-close.png);
  width: 24px;
  height: 24px;
  z-index: 9999;
}
.bfx-player .controls {
  opacity: 0;
  width: 380px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.bfx-player .controls .play {
  float: left;
  width: 48px;
  height: 35px;
  border-right: 4px solid white;
}
.controls .pause {
  float: left;
  width: 48px;
  height: 35px;
  border-right: 4px solid white;
}
.bfx-player .controls .play { background: url(/images/play.png) no-repeat 16px 7px; }
.bfx-player .controls .pause { background: url(/images/pause.png) no-repeat 16px 7px; }
.bfx-player .controls .seek { float: left; }
.bfx-player .controls .volume { float: left; }
.bfx-player .controls .full-screen {
  float: left;
  background: url(/images/full-screen.png) no-repeat 14px 10px;
  width: 32px;
  height: 32px;
}
.bfx-player .controls .volume input { width: 50px; }
.volume.ui-slider { width: 50px; }
.bfx-player .controls .seek input { width: 220px; }
.seek.ui-slider { width: 220px; }
.bfx-player .controls input[type="range"] {
  display: inline;
  -khtml-appearance: none;
  -webkit-appearance: none;
  background: #222222;
  background: -moz-linear-gradient(-90deg, #222222, #333333);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#222222), to(#333333));
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  height: 12px;
  padding: 0px;
  margin: 10px;
  margin-top: 10px;
  border: 1px solid #555555;
}
.ui-slider {
  display: inline;
  -khtml-appearance: none;
  -webkit-appearance: none;
  background: #222222;
  background: -moz-linear-gradient(-90deg, #222222, #333333);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#222222), to(#333333));
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  height: 12px;
  padding: 0px;
  margin: 10px;
  margin-top: 10px;
  border: 1px solid #555555;
}
.bfx-player .controls::-webkit-slider-thumb {
  -khtml-appearance: none;
  -webkit-appearance: none;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 3px;
  height: 16px;
}
.bfx-player .controls .ui-slider-handle {
  -khtml-appearance: none;
  -webkit-appearance: none;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 3px;
  height: 16px;
}
.bfx-player video.video-player {
  margin: 0px;
  padding: 0px;
}
.bfx-player .ui-slider { position: relative; }
.bfx-player .ui-slider-handle {
  position: absolute;
  top: -2px;
}
