@charset="UTF-8"


/* flying blimp animation on homepage */

/* Adjust this code: spRandom({top: 160, bottom: 300, left: 320, right: 480})   in the /scripts/jquiery.blimpy.js file to constrain the box in which the blimp div flies around   The blimp image file itself isn't moving across the skyline, but rather the blimp div which contains the image. Changing the styling of the div only impacts whether a whole or part of the blimp sprite is visible. This code should be adjusted in response to the above media queries so that the blimp animation is replaced with a static image when the page is loaded on a mobile device. */

#stage {
    top: 0px;
    left: 0px;
    z-index: 100;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 313px;
    overflow: hidden;
}

#bg {
    background: #aedfe5 url(http://awesome.blogblimp.com/images/misc/sky1.png) 0 0 repeat-x;
}

#clouds {
    background: transparent url(http://awesome.blogblimp.com/images/misc/cloud.png) 305px 102px repeat-x;
}

#skyline2 {
    background: transparent url(http://awesome.blogblimp.com/images/misc/hill2.png) 0 46px repeat-x;
}

#skyline1 {
    background: transparent url(http://awesome.blogblimp.com/images/misc/hill-with-windmill.png) 0 46px repeat-x;
}

#balloons {
    position: relative;
    left: 720px;
    background: transparent url(http://awesome.blogblimp.com/images/misc/balloons.png) 0 0 repeat-y;
}

#blimp {
    background: transparent url(http://awesome.blogblimp.com/images/misc/bird-forward-back.png) 0 0 no-repeat;
    position: absolute;
    top: 200px;
    left: 65px;
    width: 180px;
    height: 123px;
    z-index: 2000;
    cursor: pointer;
}


/* global styles */

* {
	margin: 0;
	padding: 0;
}


pre {
	background: #fff;
	border: 0px solid silver;
	margin: 0px 0;
	padding: 0px;
	font-family: Arial, Sans-Serif;
}



/* body layout */

body {
	background: #fff;
	width: auto;
	height: 100%;
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	color: #474747;
	line-height: 1.6em;
}



article, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}


header {
	display: block;
	text-align: center; 
	border-bottom: 1px solid #ddd;
}


#logo {
	background: url(http://awesome.blogblimp.com/images/misc/bblogo.png) 0 0 no-repeat;
	width: 378px;
	height: 121px;
	position: absolute;
	top: 7px;
	left: 30px;
	z-index: 1900;
	text-indent: -9999px;
}


#spriteContainer  {
	min-width:320px;
	/* padding-top:280px; */
	position:relative;
	width:100%;
}


#content {
	margin-right: 250px;
}


#mainContent {
	padding: 40px 30px 30px 30px;
}


div.centered 
{
text-align: center;
}


div.centered table 
{
margin: 0 auto; 
text-align: center;
}


footer {
	display: block;
	text-align: center; 
	border-top: 1px solid #ddd;
	padding: 15px 10px 15px 20px;
	font-size: .9em;
	color: #757575;
	background-color: #fff;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
	background: -moz-linear-gradient(top, #ffffff 60%, #cccccc 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#ffffff), color-stop(90%,#cccccc));
}


/* panel and/or gallery classes for portfolio */

.panel {
	margin-bottom: 2em;
	display: none;
}


.gallery { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}


.gallery:after { 
	clear: both;
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
}


.gallery li { 
	float: left; 
	width: 33.33333333%;
}


.gallery li a { 
	display: block; 
	margin: 5px; 
	border: 0px solid #3c3c3c; 
}


.gallery li img { 
	display: block; 
	width: 100%; 
	height: auto; 
}


/* typography */

h1, h2, h4, h5 {
	text-transform: uppercase;
	font-family: Arial, Sans-Serif;
	color: #FF6633;
}


#mainContent h1 {
	text-align: -9999px;
	height: 0;
	overflow: hidden;
	margin: 0;
}


h1 a, h2 a, h3 a, h4 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
	text-decoration: none; ! important
	color: #FF6633;
}


h1 {
	font-size: 1.93em;
	line-height: 1.2em;
	margin: 8px 0 38px 0;
}


h2 {
	font-size: 1.47em;
	line-height: 1.2em;
	margin: 8px 0 15px 0;
}


h3 {
	font-family: Arial, Sans-Serif;
	color: #757172;
	font-size: 1.20em;
	line-height: 1.2em;
	margin: 8px 0 15px 0;
}


h4 {
	font-size: 1.07em;
	line-height: 1.1em;
	margin: 8px 0 15px 0;
}


h5 {
	font-size: 1.07em;
	line-height: 1.1em;
	margin: 8px 0 15px 0;
}


a, a:visited {
	color: #3a9bc7;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}


a img {
	border: 0;
}


ul {
	padding-left: 40px;
}


/* forms and buttons */

.css3button {
display: block;
width: 100px;
	padding: 10px 5px 10px 5px;
	margin: 10px 5px 10px 5px; 
	font-family: Arial, Sans-Serif;
	color: #ffffff;
	text-decoration: none; ! important
	background: -moz-linear-gradient(top, #75c1dd 0%, #658bba);
	background: -webkit-gradient(linear, left top, left bottom, from(#75c1dd), to(#658bba));
	border: 1px solid #335f73;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow:
		1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		1px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.9);
}


/* media queries */
/* These need to remain at the bottom of the stylesheet. */

@media only screen and (min-width: 481px) {
    #mobileOnly { display:  none; }
}

@media only screen and (max-width: 480px) {
    #fullsizeOnly { display:  none; }
}
